* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Pixelify_Sans";
    src: url("../font/PixelifySans-VariableFont_wght.ttf");
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: auto;
    font-family: monospace;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #12161d;
    color: #fff;
    overflow-x: hidden;
}
.no-transition {
    transition: none !important;
}


.e-bigger {
    font-size: x-large;
}

.main-content {
    overflow-y: auto;
    min-height: 100vh;
}


/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent, .e-grid .e-table {
        background-color: #1a222b;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #222b33;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #222b33;
        }

    .e-grid .e-gridpager {
        background-color: #1a222b;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

.e-pagercontainer .e-icons {
    background-color: #1a222b;
    border: none !important;
}

.e-pager .e-numericitem {
    color: #adb5bd;
    background-color: #1a222b;
    padding: 15px !important;
}

    .e-pager .e-numericitem:not(.e-currentitem) {
        border: none !important;
    }

    .e-pager .e-numericitem:hover {
        color: #fff;
    }

    .e-pager .e-numericitem.e-currentitem {
        color: #fff;
        border: none !important;
        background-color: #31373d;
    }

.e-pager div.e-icons:not(.e-disable) {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.e-grid .e-pager {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Logo*/
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-logo {
    padding: 10px 10px;
}

/*Menu*/
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

    #menu .e-menu-item:not(.e-separator) {
        height: 50px;
        border-radius: 4px;
    }

    #menu .e-menu-item {
        box-sizing: border-box;
    }

        #menu .e-menu-item a {
            width: 100%;
            color: rgb(171, 163, 152);
            font-weight: 300;
            padding: 7px 5px;
            box-sizing: border-box;
        }

    #menu .e-anchor-wrap {
        display: inline-block;
    }

    #menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
        color: rgb(171, 163, 152);
    }

    #menu .e-menu-item.e-separator {
        border: none;
        margin: 5px 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #65da41;
    }

        #menu .e-menu-item.e-separator:not(:first-child) {
            margin-top: 35px;
        }



/*Navbar*/
nav.navbar {
    background-color: rgba(18, 22, 29);
}

    nav.navbar i {
        padding: 10px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
    }

        nav.navbar i:hover, nav.navbar img:hover {
            cursor: pointer;
            background-color: #48545f14;
            transform: scale(1.05) translateZ(0px);
        }

nav.navbar {
    margin-left: 290px;
}

/*Profile Pic*/
img.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(72, 84, 95, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

    .profile-wrapper .titles {
        line-height: 1;
    }

    /*Radio Button Group*/
    .e-btn-group.custom-rbt-group {
        width: 100%;
    }

        .e-btn-group.custom-rbt-group .e-btn {
            width: 50%;
        }

    .custom-rbt-group label.e-btn {
        box-shadow: none !important;
        border: 1px solid #fff;
        background-color: rgb(34 43 51);
        color: #fff;
    }

    .e-btn-group.custom-rbt-group input:checked + label.e-btn {
        background-color: #fff;
        color: #212b36;
        border: 1px solid #fff;
    }

/*SideBar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }


    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

    .widget.summary > div:first-child {
        background-color: #222b33;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }





    /*card login - register for guest */
<style >
/* Horizontal Card Layout Customization */
.e-card-horizontal.e-product {
    height: 420px;
}

.e-bigger.fluent .e-card-horizontal.e-product,
.e-bigger.fluent-dark .e-card-horizontal.e-product {
    height: 480px;
}

img {
    height: 100%;
}

.card-control-section.horizontal_card_layout #horizontal_phone_product .e-card-stacked {
    justify-content: flex-start;
}

.card-control-section.horizontal_card_layout #horizontal_phone_product .e-card-actions button:last-child {
    margin-left: 8px;
}

.card-control-section.horizontal_card_layout .e-card.e-card-horizontal.e-product .e-card-stacked > :first-child,
.card-control-section.horizontal_card_layout #vertical_Sample .e-card.e-card-horizontal .e-card-stacked > :first-child,
.card-control-section.horizontal_card_layout #vertical_Sample .e-card.e-card-horizontal .e-card-stacked > :first-child {
    flex-grow: initial;
}

.card-control-section.horizontal_card_layout #vertical_Sample {
    height: inherit;
}

    .card-control-section.horizontal_card_layout #vertical_Sample .e-card img {
        height: 188px;
    }

    .card-control-section.horizontal_card_layout #vertical_Sample .e-card {
        height: 50%;
    }

        .card-control-section.horizontal_card_layout #vertical_Sample .e-card:first-child {
            margin-bottom: 10px;
        }

        .card-control-section.horizontal_card_layout #vertical_Sample .e-card > * {
            width: 50%;
            justify-content: flex-start;
        }

.card-control-section.horizontal_card_layout #horizontal_product .e-card-header {
    width: 100%;
}

#source_link {
    direction: rtl;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    #source_link {
        margin-top: -10px;
        margin-right: 0px;
    }
}

.card-control-section.horizontal_card_layout .e-card-resize-container {
    margin-bottom: 50px;
}

.card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
    width: 100%;
    padding: 10px;
    margin: auto;
}

.card-control-section.horizontal_card_layout .card-layout {
    margin: auto;
    max-width: 870px;
}

@media (min-width: 912px) {
    .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 50%;
    }

    .card-control-section.horizontal_card_layout .card-layout {
        max-width: 800px;
    }
}

@media (max-width: 600px) {
    .card-control-section.horizontal_card_layout .card-layout {
        max-width: 400px !important;
    }
}

@media (max-width: 912px) {
    .card-control-section.horizontal_card_layout .row.card-layout {
        display: flex;
        flex-direction: column;
    }

    .card-control-section.horizontal_card_layout .card-layout {
        max-width: 640px;
    }
}

@media (min-width: 700px) and (max-width: 912px) {
    .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 70%;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 80%;
    }
}

.profile-user .information p {
    
    font-family : Pixelify_Sans;
}

.profile {
    position : relative;
    width :55px;
    height :50px;
    border-radius : 50%;
    overflow : hidden;
    cursor : pointer;
}

    .profile img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.menu {
    position: absolute;
    top: 120px;
    right: 0px;
    padding: 10px 20px;
    background: #fff;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

    .menu.active {
        top: 80px;
        visibility: visible;
        opacity: 1;
    }
    .menu::before {
        content: "";
        position: absolute;
        top: -5px;
        right: 28px;
        width: 20px;
        height: 20px;
        background: #fff;
        transform: rotate(45deg);
    }
    .menu h2 {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        padding-top: 5px;
        font-weight: 500;
        color: #555;
        line-height: 1.5em;
    }
        .menu span {
            font-family : 'Pixelify Sans';
            color: #555;
            font-weight: 300;
        }

    .menu ul {
        padding : 0;
    }
    .menu ul li {
        list-style: none;
        padding: 16px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        display: flex;
        align-items: flex-start;
    }

        .menu ul li img {
            max-width: 20px;
            margin-right: 10px;
            opacity: 0.5;
            transition: 0.5s;
        }

        .menu ul li:hover img {
            opacity: 1;
        }

        .menu ul li a {
            display: inline-block;
            text-decoration: none;
            color: #555;
            font-weight: 500;
            transition: 0.5s;
            font-size : 1rem;
        }
        .menu ul li form img {
            margin-right : 4px;
        }
        
        .menu ul li form button {
            display: inline-block;
            text-decoration: none;
            color: #555;
            font-weight: 500;
            transition: 0.5s;
            font-size: 1rem;
            padding : 0;
            margin : 0;
        }
        

        .menu ul li:hover a {
            color: #ff5d94;
        }
        .menu ul li:hover form button {
            color: #ff5d94;
        }


    label, a {
        font-size: 14px;
        padding-right: 0;
        color: #e9ecef;
        font-weight: 500;
    }



/************ PASSWORD *************/
#password-requirements {
    list-style: none;
    padding-left: 0;
}

    #password-requirements li {
        color: red;
        font-size: 14px;
    }

    #password-requirements .valid {
        color: green;
    }

    #password-requirements .invalid::before {
        content: "❌ ";
    }

    #password-requirements .valid::before {
        content: "✅ ";
    }
