@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5">
    <h1 class="text-danger">Không có quyền truy cập</h1>
    <h2 class="text-danger">Tài khoản của bạn không có quyền truy cập vào tài nguyên này.</h2>
    <p>
        Hãy liên hệ tới admin, nếu bạn thấy đây là một lỗi nào đó.
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Trở về trang chính</a>
</div> 