
    @model Expense_Tracker_App.Models.UpdateProfile
    @{
        ViewData["Title"] = "Complete your profile";
    }
    <h2>Complete your profile</h2>
    <div class="row">
        <div class="col-md-7">
            <div class="widget p-5" style="background-color:#212b36">
                <form asp-action="CompleteProfile" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label>Full name</label>
                        <ejs-textbox id="FullName" ejs-for="FullName" placeholder="Full Name..."
                                     ></ejs-textbox>
                        <span asp-validation-for="FullName" class="text-danger fs-6"></span>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <ejs-textbox id="Email"
                                     ejs-for="Email"
                                     placeholder="Email..."
                                     ></ejs-textbox>
                        <span asp-validation-for="Email" class="text-danger fs-6"></span>
                    </div>
                    <div class="mb-3">
                        <label>Phone number</label>
                        <ejs-textbox id="PhoneNumber" ejs-for="PhoneNumber" placeholder="Phone Number..."
                                     ></ejs-textbox>
                        <span asp-validation-for="PhoneNumber" class="text-danger fs-6"></span>
                    </div>

                    <div class="mb-3">
                        <ejs-datepicker id="DateOfBirth" ejs-for="DateOfBirth" placeholder="Date Of Birth"
                                        floatLabelType="Always" format="yyyy-MM-dd" value="@Model.DateOfBirth"> </ejs-datepicker>
                        <span asp-validation-for="DateOfBirth" class="text-danger fs-6"></span>
                    </div>
                    <div class="mb-3">
                        <label>Upload profile image</label>
                        <ejs-uploader id="uploadFiles" name="ProfileImg" autoUpload="false"
                                      allowedExtensions=".jpg"></ejs-uploader>
                        <span asp-validation-for="ProfileImg" class="text-danger fs-6"></span>
                    </div>
                    <ejs-button id="submit" content="Submit" type="submit" cssClass="e-success"></ejs-button>
                </form>
            </div>
        </div>
        <div class="col-md-5">
                <div class="widget h-100 d-flex justify-content-center align-items-center"
                     style="background-color:#212b36">
                    <i class="fa-solid fa-user"></i>
               </div>   
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }