

@model Expense_Tracker_App.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col-md-7">
        <div class="p-5" style="background-color:#212b36">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>Register an account</h4>


                <div class="mb-3">
                    @*syncfunction*@
                    <label>Email</label>
                    <ejs-textbox id="email" ejs-for="Email"
                                 placeholder="Email..." ></ejs-textbox>
                    <span asp-validation-for="Email" class="text-danger fs-6"></span>

                </div>
                <div class="mb-3">
                    @*Password*@
                    @*Syncfunction*@
                    <label>Password</label>
                    <ejs-textbox type="password" ejs-for="Password" id="password"
                                 placeholder="Password..."></ejs-textbox>
                    <span asp-validation-for="Password" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    @*Password*@
                    @*Syncfunction*@
                    <label>Confirmed password</label>
                    <ejs-textbox type="password" ejs-for="ConfirmPassword" id="ConfirmPassword"
                                 placeholder="Confirm Password..."></ejs-textbox>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <a href="/Account/Login">Already have an account?</a>
                <div asp-validation-summary="All" class="text-danger fs-6 mb-3"></div>
                    <ejs-button id="submit" content="Submit" type="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
</div>