@model IEnumerable<Expense_Tracker_App.Models.Budget>

@{
    ViewData["PageTitle"] = "Budgets";
    ViewData["PageActionText"] = "+ New Budget";
    ViewData["PageActionUrl"] = "/budgets/CreateOrEdit";
}
<hr />
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="budgets" dataSource="@Model"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="Category.Title"></e-grid-column>
                <e-grid-column headerText="Date" field="Budget_StartDate" width="110px"
                               type="date" format="MMM-dd-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="Date" field="Budget_EndDate" width="110px"
                               type="date" format="MMM-dd-yy" textAlign="Left"></e-grid-column>
                <e-grid-column headerText="BudgetAmount" field="FormattedAmount" textAlign="Right" width="110px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2"></i>
        </div>
    </div>
</div>




@* template action *@
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/budgets/CreateOrEdit/${BudgetID}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/budgets/DeleteConfirmed/${BudgetID}" method="post">
    @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>